./.vscode
.venv
Manifest.toml

**/*.log
**/*.sof
**/*.mon
**/*.aoco
**/*.aoci
**/*.aocx
**/*.aocr
**/*.source
**/*.tmp
**/*.temp
**/*.bc
**/*.d
**/*.o
**/*.a
**/*.prj
**/*.tmp
**/*.txt
**/*.tar.*
**/*.out
**/*.gif
**/*.mp4
**/*.png
**/*.gch
**/*.zip

build
doxygen
**/.ipynb_checkpoints

!**/CMakeLists.txt
